.sort-filter-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    line-height: 32px;

    img,
    span {
        margin: 0 4px;
    }
}

.sort-filter-button-active {
    color: var(--main-cta);
}
