.sort-by {
    background-color: var(--primary-fill);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.sort-by-title {
    border-bottom: 1px solid var(--dark-disabled);
    padding: 15px;

    h3 {
        font-style: normal;
        font-size: 14px;
    }
}

.sort-by-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 7.5px;
}
