.time-servings-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0px 15px 14px 15px;
}

.time, .servings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.time *, .servings * {
    padding: 0px 2px;
}