.meal-card-menu {
    position: absolute;

    background-color: #E5E5E5;
    color: #333333;

    margin-top: 7px;

    border-radius: 12px;

    padding: 10px 12px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.meal-card-menu-left {
    margin-left: -25px;
}

.meal-card-menu-right {
    margin-left: 25px;
}

.menu-item {
    width: 100%;

    padding: 10px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu-item-disabled {
    color: var(--dark-disabled)
}

