.nav-bar-container {
    width: 100%;
    height: 82px;

    position: fixed;
    bottom: 0;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;

    border-top: 1px solid var(--primary-black);

    background-color: var(--primary-fill);
}

.nav-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nav-button p {
    margin: 0;
}

.nav-button-disabled p {
    color: #c0c0c0;
}
