.recipe-info {
    width: 100%;
}

.recipe-info-loading-circle {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

h2.recipe-title {
    padding-left: 15px;
    padding-right: 15px;
    
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;

    text-align: left;
}

.recipe-image {
    width: 100%;
}