.select-meal-type {
    width: 100%;
    padding: 0px 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 25px
}

.select-meal-type h3 {
    margin-bottom: 35px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
}

.select-meal-type-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}