:root {
    --primary-color: #c75131;

    --primary-black: #111111;
    --primary-fill: #ffffff;
    --chip-selected: #c0c0c0;
    --zebra-dark: #f2f2f2;
    --zebra-light: #faf9f9;
    --main-cta: #d95d3b;
    --disabled: #ebebeb;
    --dark-disabled: #828282;
}
