.ordered-screen {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ordered-screen-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}