.screen-title {
    width: 100%;
    height: 80px;
    background-color: var(--main-cta);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.screen-title-back-button {
    align-self: flex-start;
    margin-left: 15px;
}

h1.screen-title-title {
    font-weight: 600;
    font-size: 16px;
    color: white;

    margin: 0;
}

h3.screen-title-subtitle {
    font-size: 10px;
    color: white;
    margin: 0;
}
