.loading-circle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes loadingCircle {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.loading-circle img {
    animation: loadingCircle 1s linear 0s infinite;
}