.meal-card {
    width: 100%;
    min-height: 60px;
    
    background-color: var(--primary-fill);

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    text-align: left;

    padding: 6px;

    overflow: hidden;

    margin: 2px 0;
}

.meal-card-accented {
    border-left: 2px solid var(--main-cta);
    color: var(--main-cta);
}

.meal-card-normal {
    border-left: 2px solid var(--primary-black);
    color: var(--primary-black);
}

.meal-card-empty {
    border-left: 2px solid var(--dark-disabled);
}