:root {
  --primary-color: #C75131;
  
  --primary-black: #111111;
  --primary-fill: #FFFFFF;
  --chip-selected: #C0C0C0;
  --zebra-dark: #F2F2F2;
  --zebra-light: #FAF9F9;
  --main-cta: #D95D3B;
  --disabled: #EBEBEB;
  --dark-disabled: #828282;
}

body {
  margin: 0;

  font-family: 'Inter', 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: var(--primary-black);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-root-inactive {
  display: none;
}

.modal-root-active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.33);
}