.recipe-list {
    padding-top: 35px;
    padding-bottom: 100px;
    padding-left: 6px;
    padding-right: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.recipe-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 768px) {
    
    .recipe-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }

}
