.recipe-list {
    padding-top: 35px;
    padding-bottom: 100px;
    padding-left: 6px;
    padding-right: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}